<!DOCTYPE html>
<html lang="en">

<head>
    <title>Staff</title>
    <%- include('../partials/header.ejs') %>
    <style>
        .pending {
            color: red;
        }
        .cooking {
            color: rgb(255, 153, 0);
        }
        .delivering {
            color: blueviolet;
        }
        .delivered {
            color: green;
        }
    </style>
</head>

<body>
    <%- include('../components/navbar.ejs') %>
    <div class="container-fluid my-4">
        <h1>Checkout</h1>

        <div class="text-center h4">Status: <span class="text-capitalize <%= order.status %>"><%= order.status %></span></div>
        <div class="row border shadow-lg rounded">
            <div class="col-12 col-lg-6 p-2" style="height: 750px; overflow: scroll;">
                <div class="text-center h4">Product list</div>
                
                
                <% order.records.forEach( record => {%>
                    <div class="row my-2 py-1 mx-2 border" >
                        <div class="col-md-4 mt-1">
                            <img src="<%= record.item.image_path%>" class="img-responsive img-fluid" >
                        </div>
                        <div class="col-md-8 mt-1 my-2 border border-secondary py-3">
                            <span class="h5"><%= record.item.title %></span>
                            <p>Category: <span class="text-capitalize "><%= record.item.category %></span></p>
                            <p class="text-justify text-truncate para mb-5">
                                <%= record.item.description %>
                            </p>

                            <div class="position-absolute w-75" style="bottom: 0;">
                                <p class="float-left"> <%= record.item.price %> THB</p>
                                <p class="float-right"> x <%= record.qty %></p>
                            </div>
                            
                        </div>
                    </div>
                <%})%>
            </div>
            <div class="col-12 col-lg-6 p-2" style="height: 750px; overflow: scroll;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-summary-tab" data-toggle="tab" href="#nav-summary" role="tab" aria-controls="nav-summary" aria-selected="true">Summary</a>
                      <a class="nav-item nav-link" id="nav-map-tab" data-toggle="tab" href="#nav-map" role="tab" aria-controls="nav-map" aria-selected="false">Map</a>
                    </div>
                </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">
                        <h3>Map direction</h3>
                            <%- include('../components/map.ejs') %>
                        
                        </div>
                        <div class="tab-pane fade show active" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
                            <div class="p-3">
                                <h3>Update Status</h3>
                                <!-- <div class="row my-3 p-2"> -->
                                    <form class="my-3 p-2 form-row" method="post" action="/staff/order/update" enctype="application/json; charset=utf-8">
                                        <input type="hidden" name="order_id" value="<%= order._id %>"/>
                                        <select class="form-control col-5" id="updatedStatus" name="updatedStatus">
                                            <option value="pending" <%if(order.status == 'pending') {%> selected<%}%> >Pending</option>
                                            <option value="cooking" <%if(order.status == 'cooking') {%> selected<%}%>>Cooking</option>
                                            <option value="delivery" <%if(order.status == 'delivery') {%> selected<%}%> >Delivery</option>
                                            <option value="delivered" <%if(order.status == 'delivered') {%> selected<%}%> >Delivered</option>
                                        </select>
                                        <input type="submit" value="update" class="btn btn-primary col-4 mx-auto" />
                                    </form>
                                <!-- </div> -->
                                <hr />

                                <h3>Order detail</h3>
                                <div class="row my-3 p-2">
                                    <div class="col-5">
                                        <p>Ordered by: <span class="text-capitalize"><%= order.firstname%></span> <span class="text-capitalize"><%= order.lastname%></span></p>
                                    </div>
                                    <div class="col-5">
                                        <p>Tel: <span class="text-capitalize"><%= order.telephone%></span></p>
                                    </div>
                                    <div class="card col-12">
                                        <div class="card-body">
                                            <div class="card-title">
                                                Destination
                                            </div>
                                            <p class="cart-text">
                                                <%= order.destination %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <hr />

                                <h3>Summary</h3>
                                <div class="row my-3">
                                    <div class="col-5 text-left">
                                        <span class="h5 d-block" style="color: gray;">Total:</span>
                                        <span class="h5 d-block" style="color: gray;">Shipping:</span>
                                        <span class="h5 d-block">Final Price:</span>

                                    </div>
                                    <div class="col-7 text-right">
                                        <span class="h5 d-block" style="color: gray;"> <%= order.total_price %> THB</span>
                                        <span class="h5 d-block" style="color: gray;"> <span id="shippingPrice"><%= order.shipping_price%></span> THB</span>
                                        <span class="h5 d-block"> <span id="finalPrice">0</span> THB</span>
                                        <script defer>
                                            const finalPrice = document.querySelector('#finalPrice');
                                            finalPrice.innerHTML = (Number(<%= order.total_price %>) + Number(document.querySelector('#shippingPrice').innerHTML))
                                        </script>
                                    </div>
                                </div>
                                <hr />

                                <h4>Note</h4>
                                <div class="row my-3 ">
                                    <div class="col-10 p-2 border align-center mx-auto">
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= order.note%></p>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>